#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
cmdline
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
# Reboot after installation
reboot
# Root password
rootpw --iscrypted $6$n3.VC1jVipIc4F72$NIjfwFsCKA5wBqqsfKri2ayGGvwaIA2RUtyguaUPTAFtJ5sz11GaZ7JENQmWxd3GDn7lTYsc0EWyUYEf65X3Y/
# System services
services --enabled="chronyd"
# Do not configure the X Window System
skipx
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --drives=sda
# Disk partitioning information
part / --fstype="xfs" --ondisk=sda --size=7152
part /var --fstype="xfs" --ondisk=sda --size=1907
part swap --fstype="swap" --ondisk=sda --size=488

%post --logfile=/root/kickstart-post.log
# Update
yum -y update
yum -y install net-tools
yum -y install nano
yum -y install wget

yum -y install openldap-clients
yum -y install nss-pam-ldapd
yum -y install nfs-utils
sed -i '/home/s/^/#/' /etc/fstab
sudo echo "10.2.6.84:/home                           /home                   nfs     defaults        0 0" >> /etc/fstab
sed -i 's/#BASE\tdc=example,dc=com/BASE\tdc=cit470,dc=nku,dc=edu/' /etc/openldap/ldap.conf
sed -i '/BASE\tdc=cit470,dc=nku,dc=edu/iHOST\t10.2.6.84' /etc/openldap/ldap.conf
sed -i 's;^uri ldap://127.0.0.1;uri ldap://10.2.6.84;' /etc/nslcd.conf
sed -i 's/base dc=example,dc=com/base dc=cit470,dc=nku,dc=edu/' /etc/nslcd.conf
authconfig --enableldap --enableldapauth --update
%end

%packages
@^minimal
@core
chrony
kexec-tools
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end